@model Job 

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h1>Create Feature Page</h1>


<form method="post"> 
        <label>Feature Title</label> 
        <input type="text" asp-for="JobsTitle" class="form-control" style="border:dotted 1px" /> 
        <br /> 
    <br /> 
        <button class="btn btn-dark">Add</button> 
</form>

