<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Default/Index"><span class="fa fa-home mr-3"></span> Go Website</a>
    </li>
    <li>
        <a href="/AdminFeature/FeatureList"><span class="fa fa-star mr-3"></span> Feature-Job</a>
    </li>
    <li>
        <a href="/AdminProject/ProjectList"><span class="fa fa-star mr-3"></span> Projects</a>
    </li>
    <li>
        <a href="/AdminAbout/AboutList/"><span class="fa fa-user mr-3"></span> About</a>
    </li>
    <li>
        <a href="/Statistic/Index/"><span class="fa fa-bar-chart mr-3"></span> Statistic</a>
    </li>
    <li>
        <a href="/Skill/SkillList/"><span class="fa fa-envelope mr-3"></span> Skills</a>
    </li>
    <li>
        <a href="/AdminEducation/EducationList/"><span class="fa fa-graduation-cap mr-3"></span> Education</a>
    </li>
    <li>
        <a href="/AdminExperience/ExperienceList"><span class="fa fa-briefcase mr-3"></span> Experiences</a>
    </li>
    <li>
        <a href="/Portfolio/PortfolioList/"><span class="fa fa-folder-open mr-3"></span> Portfolio</a>
    </li>
    <li>
        <a href="/AdminService/ServiceList"><span class="fa fa-cogs mr-3"></span> Services</a>
    </li>
    <li>
        <a href="/Testimonial/TestimonialList"><span class="fa fa-comments mr-3"></span> Testimonials</a>
    </li>
    <li>
        <a href="/AdminContact/ContactList"><span class="fa fa-envelope mr-3"></span> Contact</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-comment mr-3"></span> Message</a>
    </li>
    <li>
        <a href="/AdminSocialMedia/SocialMediaList"><span class="fa fa-share-alt mr-3"></span> Social Media</a>
    </li>
    <li>
        <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
    </li>
</ul>
