@model List<SocialMedia>

@{
    ViewData["Title"] = "Social Media List";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Social Media List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SocialMedia ID</th>
            <th>Title</th>
            <th>Icon</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SocialMediaId</td>
                <td>@item.Title</td>
                <td>@item.Icon</td>
                <td>@item.Url</td>
                <td>
                    <a href="/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-outline-primary">Update</a>
                    <a href="/AdminSocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/AdminSocialMedia/CreateSocialMedia/" class="btn btn-outline-info">Add Social Media</a>
