
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Statistic Page!</h1>

		
							<div class="alert alert-secondary ">
								
									<p class="card-category">Skills Count</p>
									<h2 class="card-title">@ViewBag.v1</h2>
								
							</div>
							<div class="alert alert-secondary ">
								
									<p class="card-category">Skills Total Value</p>
									<h2 class="card-title">@ViewBag.v2</h2>
								
							</div>
							<div class="alert alert-secondary ">

								<p class="card-category">Skills Average</p>
								<h2 class="card-title">@ViewBag.v3</h2>

							</div>
							<div class="alert alert-secondary ">

								<p class="card-category">Skills 80 > </p>
								<h2 class="card-title">@ViewBag.v4</h2>

							</div>
					

			
