@model Experience

@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<h1>Update Experience Page</h1>

<form method="post">
    <input type="hidden" asp-for="ExperienceID" />

    <div class="form-group">
        <label for="CompanyName">Company Name</label>
        <input type="text" asp-for="CompanyName" class="form-control" style="border:dotted 1px" />
    </div>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control" style="border:dotted 1px" />
    </div>
    <div class="form-group">
        <label for="ExperienceDate">Experience Date</label>
        <input type="date" asp-for="ExperienceDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" style="border:dotted 1px"></textarea>
    </div>

    <button type="submit" class="btn btn-dark">Update Experience</button>
</form>
