@model PortfolioCoreDay.Entities.Testimonial
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Create Testimonial Page</h1>

<form method="post"> 
        <label>Name and Surname</label> 
        <input type="text" asp-for="NameSurname" class="form-control" style="border:dotted 1px"/> 
        <br /> 
        <label>Status! Title</label> 
        <input type="text" asp-for="Title" class="form-control" style="border:dotted 1px"/> 
        <br /> 
        <label>Image URL</label> 
        <input type="text" asp-for="ImageUrl" class="form-control" style="border:dotted 1px"/> 
        <br /> 
        <label>Description</Label>
        <textarea class="form-control" asp-for="Description" rows="3" style="border:dotted 1px"></textarea>

        <br /> 
        <button class="btn btn-dark">Save</button> 
</form>
