<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.SkillsCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Skills Count</strong> <span>My skills count is here</span></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.PortfoliosCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projects Count</strong> <span>My projects count is here</span></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.MessagesCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Messsage Count</strong> <span>My incoming messages</span></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.RandomValue" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Random password</strong> <span>Add to the end of your password to go to the admin page</span></p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section>