@model PortfolioCoreDay.Entities.Message

<div class="col-lg-7">
    <form asp-controller="Message" asp-action="SendMessage" method="post" class="php-email-form">
        <div class="row gy-4">

            <div class="col-md-6">
                <label>Your Name</label>
                <input type="text" name="NameSurname" class="form-control" required />
            </div>

            <div class="col-md-6">
                <label>Your Email</label>
                <input type="email" name="Email" class="form-control" required />
            </div>

            <div class="col-md-12">
                <label>Subject</label>
                <input type="text" name="Subject" class="form-control" required />
            </div>

            <div class="col-md-12">
                <label>Message</label>
                <textarea name="MessageDetail" rows="10" class="form-control" required></textarea>
            </div>

            <div class="col-md-12 text-center">
                <button type="submit">Send Message</button>
            </div>

        </div>
    </form>


 
</div>